
<section class="flex flex-col">

<h1 class="big-hd">Metrak<p class="sub-hd px-0">Mickey's personal media tracker.</p></h1>

<h3 class="text-3xl font-bold dark:text-white">I'm tracking <%= Medium.count %> media and counting!</h3>

<button type="button" class="alt-btn text-xl place-self-start"><%= link_to "Add More Media!", new_medium_path %></button>

<div class="gallery">
    <% @media.each do |medium| %>
            <img src="<%= medium.image %>" alt="<%= medium.altext %>" class="gallery-img" />
            <%= link_to medium.title, medium %>  
    <% end %>   
</div>


</section>