
<section class="flex flex-col">

<h1 class="big-hd">Metrak<p class="sub-hd px-0">Mickey's personal media tracker.</p></h1>

<h3 class="text-3xl font-bold dark:text-white">I'm tracking <%= Medium.count %> media and counting!</h3>

<button type="button" class="alt-btn text-xl place-self-start"><%= link_to "Add More Media!", new_medium_path %></button>

<article class="gallery">
    <% @media.each do |medium| %>
        <img data-modal-target="modal-<%= medium.id %>" data-modal-toggle="modal-<%= medium.id %>" src="<%= medium.image %>" alt="<%= medium.altext %>" class="gallery-img" />
        <section id="modal-<%= medium.id %>" tabindex="-1" aria-hidden="true" class="mother-modal">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <article class="flex items-center p-4 md:p-5 rounded-t dark:border-gray-600">
                        <span class="medium-badge"><%= medium.title %></span>
                        <span class="medium-badge"><%= medium.year %></span>
                        <span class="medium-badge"><%= medium.format %></span>
                        <span class="medium-badge"><%= medium.appreciation %></span>
                    </article>
                    <article class="flex flex-col p-4 md:p-5 space-y-4">
                    <% medium.thoughts.each do |bolla| %>
                    <span class="thought-badge"><%= bolla.body %></span>
                    <% end %>
                    </article>
                </div>
            </div>
        </section>
        <%= link_to medium.title, medium %>  
    <% end %>   
</article>

</section>
