<%= form_with model: medium do |form| %>
  <section>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% medium.errors.full_messages_for(:title).each do |message| %>
    <% end %>
  </section>

  <section>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
    <% medium.errors.full_messages_for(:year).each do |message| %>
    <% end %>
  </section>

  <section>
    <%= form.label :end_year %><br>
    <%= form.text_field :end_year %>
    <% medium.errors.full_messages_for(:end_year).each do |message| %>
    <% end %>
  </section>

  <section>
    <%= form.label :image %><br>
    <%= form.text_field :image %>
    <% medium.errors.full_messages_for(:image).each do |message| %>
    <% end %>
  </section>

  <section>
    <%= form.label :altext %><br>
    <%= form.text_area :altext %>
    <% medium.errors.full_messages_for(:altext).each do |message| %>
    <% end %>
  </section>

  <section>
    <%= form.label :format %><br>
    <%= form.select :format, Typology::VALID_FORMATS, selected: medium.format || 'zine' %>
  </section>

  <section>
    <%= form.label :appreciation %><br>
    <%= form.select :appreciation, Likeness::VALID_APPRECIATIONS, selected: medium.appreciation || 'indifferent' %>
  </section>

  <button type="button" class="alt-btn">
    <%= form.submit %>
  </button>
<% end %>