<%= form_with model: medium do |form| %>
  <section>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% medium.errors.full_messages_for(:title).each do |message| %>
    <% end %>
  </section>

  <section>
    <%= form.label :year %><br>
    <%= form.text_field :year %>
    <% medium.errors.full_messages_for(:year).each do |message| %>
    <% end %>
  </section>

  <section>
    <%= form.label :image %><br>
    <%= form.text_field :image %>
    <% medium.errors.full_messages_for(:image).each do |message| %>
    <% end %>
  </section>

  <section>
    <%= form.label :type %><br>
    <%= form.select :type, Typology::VALID_TYPES, selected: 'zine' %>
  </section>

  <section>
    <%= form.label :appreciation %><br>
    <%= form.select :appreciation, Likeness::VALID_APPRECIATIONS, selected: 'indifferent' %>
  </section>

  <section>
    <%= form.submit %>
  </section>
<% end %>