<h1><%= @medium.title %></h1>

<p><%= @medium.review %></p>

<ul>
  <li><%= link_to "Edit", edit_medium_path(@medium) %></li>
  <li><%= link_to "Destroy", medium_path(@medium), data: {
                    turbo_method: :delete,
                    turbo_confirm: "What lead to this decision? Sure you won't regre it?"
                  } %></li>
</ul>

<h2>Thoughts</h2>
<% @medium.thoughts.each do |thought| %>
  <article>
    <strong>Posted on:</strong>
    <%= thought.created_at.to_date %>
    <strong>Thought:</strong>
    <%= thought.body %>
  </article>
<% end %>

<h2>Add your thoughts:</h2>
<%= form_with model: [ @medium, @medium.thoughts.build ] do |form| %>
  <span>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </span>
  <section>
    <%= form.submit %>
  </section>
<% end %>