<%= form_with model: [ @medium, @medium.thoughts.build ] do |form| %>
  <span>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </span>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
  </p>


  <section>
    <%= form.submit %>
  </section>

<% end %>