<!DOCTYPE html>
<html>
  <head>
    <title>Metrak API</title>
    <meta name="description" content="API for Metrak built with Ruby on Rails">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
