<!DOCTYPE html>
<html>
  <head>
    <title>Metrak</title>
    <meta name="description" content="Mickey's media tracker built with Ruby on Rails.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script><%= javascript_include_tag('checkIfDarkMode.js') %></script>

  </head>

  <body class="bg-gray-200 dark:bg-gray-700">
    <main class="container mx-auto my-10 px-5">
      <%= yield %>
    </main>
  </body>
</html>
